:root{
    --base-clr: #fff7ed;
    --head-clr: #fed7aa;
    --sidebar-clr: #f59e0b;
    --line-clr: #42434a;
    --hover-clr: #f87171;
    --active-clr: #b91c1c;
    --secondary-hover-clr: #e11d48;

    --text-clr: #e6e6ef;
    --accent-clr: #5e63ff;
    --secondary-text-clr: #b0b3c1;
    --button-clr: #fca5a5;
    --secondary-button-clr: #f43f5e;
    --secondary-active-clr: #c7183e ;
}


 
body{
    background-color: var(--base-clr);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
}

#page{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: min-content 1fr;
    /* to support mobile devices*/
    min-height: 100vh;
    min-height: 100dvh;

}

#page > *{
    padding: 1em;
    margin: 0;
}

header{
    grid-area: 1 / 2 / 2 / 4;
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr auto;
    background-color: var(--head-clr);
    border-bottom: 1px solid var(--line-clr);

}
header #headTitle{
    font-size: 4rem;
justify-self: center; 
}

header #registered{
    justify-self: end;
}


/* form elements basic reset */
button,
label,
input,
select{
    display: block;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border: none;


}
/* input{
    min-width: 15ch;
} */

button{
    background-color: var(--button-clr);
    color: #f4f4f5;
    display: inline;
    cursor:pointer;
}
button:hover{
    background-color: var(--hover-clr);
}
button:active{
    background-color: var(--active-clr) ;
}
/* sidebar */

#sideBar{
    
    grid-area: 1 / 1 / 3 / 2 ;
    background-color: var(--sidebar-clr);
    width: 250px;
    height: 100vh;
    padding: 5px 1em;
    border-right: 1px solid var(--line-clr);
    position: sticky;
    top: 0;
    align-self: start;

    transition: 300ms ease-in-out;
    text-wrap: nowrap;
    overflow: hidden;


    color: var(--text-clr);

    svg{
        fill: var(--secondary-text-clr);
        flex-shrink: 0;
    }

    input{
        margin-bottom: 5px;
    }

    label{
        text-align: center;
        white-space: nowrap;
        margin-bottom: -5px;
    }

    ul{
        list-style: none;
    }


    /* a bit of esthetic styling */
    .dropDown-div{
        padding-top: 1em;
        padding-bottom: 2em;
        
        border-bottom: 1px solid var(--line-clr);

        
    }
}

/* for the sidebar head */
#sideBar > div > div{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;

    .logo{
        font-weight: 600;
    }
}

#sideBar .dropDown-btn, #sideBar .logo{
    border-radius: .5em;
    padding: .85em;
    display: flex;
    align-items: center;
    gap: 1em;
}
.dropDown-btn{
    width: 100%;
    text-align: left;
    background: none;
    border: none;
}
button:focus{
    outline: 3px solid black;
}



.dropDown-btn span{
    /* makes the span push the toggle svg to the end */
    flex-grow: 1; 

    /* little fix for text slippage into the closed sidebar*/
    padding-left: 0.1ch;
    
}


.dropDown-btn svg{
    transition: 200ms ease;
}

.rotate svg:last-child{
    /* to animate the toggle svg in the drop down buttons */
    rotate: -180deg;
}


#sideBar .sub-menu{

    /* i make use of grid to adjust the hight of the submenu and still allow to transition
    if i used normal hight the transition wouldn't work */
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;

    /* makes the form hidden there is no hight */
    > div{
        overflow: hidden;
    }
}

/* when the submenu have the show class it will transition to open */
#sideBar .sub-menu.show{
    grid-template-rows: 1fr;
    /* width: 300px; */

}

/* toggled by javaScript */
#sideBar.close{
    padding: 5px;
    width: 60px;

    /* a bit of esthetic styling */
    .dropDown-div{
        border: none;
    }

}
/* some styling */
#toggle-btn{
    margin-left: auto;
    width: auto;
    border: none;
    background: none;
    padding: 1em;
}



#addButton{
    margin-top: 10px;
    background-color: var(--secondary-button-clr);
}
#addButton:hover{
    background-color: var(--secondary-hover-clr);
}
#addButton:active{
    background-color: var(--secondary-active-clr);
}




/*book cards */



#bookCards{
    display: grid;
    grid-area: 2 / 2 / 3 / 3;
    grid-template-columns: repeat(auto-fit,200px);
    gap: 2em;
    align-content: start;
    /* justify-content: start; */
}

.card{
    display: flex;
    flex-direction: column;
    border: 3px solid var(--line-clr);
    border-radius: 5px;

    width: 200px;
    padding: 1em;
    justify-content: space-around;
    height: 200px;
}

/* card button styling */
.card .readButton{
    display: inline;
    width: 25%;
}

.cardStrong{
    font-size: 1.2em;
    font-weight: 530;
}

:focus-visible, :focus{
    box-shadow: none;
    outline: 3px solid rgba(88,189,133,.65);
    /* outline-offset: 2px; */
}

*:focus:not(:focus-visible){
    outline: none;
}
